input {
	margin: 5px;
}

.delete-contact-btn {
	background: none;
	border: 0;
	color: red;
	cursor: pointer;
}

.notification-success {
	background-color: rgba(144, 250, 144, 0.3);
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgba(69, 126, 69, 0.557);
}

.notification-error {
	background-color: rgba(250, 144, 144, 0.3);
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgba(126, 69, 69, 0.557);
}
